body {
    background-color: #cceeffE6;
    
}
.form_div{
    margin: auto;
    width: 50%;
    padding: 10px;
}
.image {
    border: 5px solid white;
    border-radius: 50%;
}

.card{
    padding: 20px;
    margin-bottom: 30px;
    height: 10rem;
}

nav{
    font-size: 20px;
}
.navlink a{
    padding: 20px;
}
#navgrad{
    background-image: linear-gradient(to right, #9F8C76 , beige);
}
